doctype
html(lang="en" ng-app="app")
  head
    meta(charset="UTF-8")
    title= title_for_head

    meta(name="twitter:card" content=card)
    meta(name="twitter:creator" content=creator)
    meta(name="twitter:site" content=site)
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image:src" content=image)
    meta(name="twitter:url" content=url)
  body
    pre= JSON.stringify(locals,null,2)