.mypage_edit
  form(name="edit" ng-submit="submit()")
    figcaption
      h2: input(
        ng-model="user.name"
        required
        placeholder="なまえ"
        ng-maxlength="{{fields.name._length}}"
      )
      textarea(
        ng-model="user.bio"
        required
        placeholder="いいのこしたいこと"
        ng-maxlength="{{fields.bio._length}}"
      )

      h2 マイページURL
      
      label.mypage_id
        input(
          ng-model="user.mypage_id"
          required
          placeholder="マイページURL"
          ng-maxlength="{{fields.mypage_id._length}}"
        )
        .hostname
          | .#{process.env.MYPAGE_HOST}

      footer(ng-show="edit.$invalid || (!user.Storage.url && files.length==0)")
        p くうらんをにゅうりょくしてね
      footer(ng-hide="edit.$invalid || (!user.Storage.url && files.length==0)")
        p これでよいですか？
        button はい
        button(type="button" ng-click="back()") いいえ
    figure(ng-model="files" accept="image/*" ng-file-select ng-file-drop)
      a
        img(ng-src="{{user.Storage.url}}" jaggy)
        p ここに顔グラをとうろく