.front_mypage_edit
  form(name="edit" ng-submit="submit()")
    figcaption
      h2: input(
        ng-model="user.name"
        required
        placeholder="{{'MYPAGE_NAME'| translate}}"
        ng-maxlength="{{fields.name._length}}"
      )
      textarea(
        ng-model="user.bio"
        required
        placeholder="{{'MYPAGE_BIO'| translate}}"
        ng-maxlength="{{fields.bio._length}}"
      )

      h2 {{'MYPAGE_URL'| translate}}
      
      label.mypage_id
        input(
          ng-model="user.mypage_id"
          required
          placeholder="{{'MYPAGE_URL'| translate}}"
          ng-maxlength="{{fields.mypage_id._length}}"
        )
        .hostname
          | .#{process.env.MYPAGE_HOST}

      footer(ng-show="edit.$invalid || (!user.Storage.url && files.length==0)")
        p {{'FORM_INVALID'| translate}}
      footer(ng-hide="edit.$invalid || (!user.Storage.url && files.length==0)")
        p {{'FORM_VALID'| translate}}
        button {{'YES'| translate}}
        button(type="button" ng-click="back()") {{'NO'| translate}}
    figure(
      ng-model="files"
      accept="image/gif,image/png,image/jpg,image/jpeg"
      ng-file-select
      ng-file-drop
    )
      a
        img(ng-src="{{user.Storage.url}}" jaggy)
        p {{'DROP_HERE'| translate}}