.artwork_edit
  form(name="edit" ng-submit="submit()")
    figure(
      ng-model="files"
      accept="image/gif,image/png,image/jpg,image/jpeg"
      ng-file-select
      ng-file-drop
    )
      a
        img(ng-src="{{artwork.Storage.url}}" jaggy)
        | {{'DROP_HERE'| translate}}

    figcaption
      h2: input(
        ng-model="artwork.title"
        required
        placeholder="{{'EDIT_TITLE'| translate}}"
        ng-maxlength="{{fields.title._length}}"
      )
      textarea(
        ng-model="artwork.description"
        required
        placeholder="{{'EDIT_DESCRIPTION'| translate}}"
        ng-maxlength="{{fields.description._length}}"
      )
      select(
        ng-model="show"
        required
        ng-options="type.label for type in show_types track by type.value"
      )

      footer(ng-show="artwork.$invalid")
        p {{'FORM_INVALID'| translate}}
      footer(ng-hide="artwork.$invalid")
        p {{'FORM_VALID'| translate}}
        button {{'YES'| translate}}
        button(type="button" ng-click="back()") {{'NO'| translate}}
