.timeline
  header
    .notify(ng-show="!user")
      a(href="#" ng-click="location('/mypage/auth/')")
        | {{'COMMENT_GUEST'| translate}}
    form(name="add" ng-show="user" ng-submit="comment(body)")
      input(
        name="body"
        ng-model="body"
        ng-maxlength="{{fields.body._length}}"
        placeholder="{{'TIMELINE_PLACEHOLDER'| translate}}"
        required
      )

      button(
        ng-disabled="add.$invalid"
      )
        | {{'COMMENT'| translate}}

      footer(ng-show="add.$valid")
        | {{fields.body._length - body.length}} / {{fields.body._length}}

  ul(ng-reel="/front/timeline/ as comments" ng-reel-stack)
    li(ng-repeat="comment in comments")
      include /lib/jade/comment_timeline