ui-view

.artwork_view
  figure.image
    a(ng-click="location(artwork.Storage.url)" ng-style="{'top':scrollY+'px'}")
      img(ng-src="{{artwork.Storage.url}}" jaggy jagged="palette")
  figcaption
    section
      h2 {{artwork.title}}
      pre {{artwork.description}}
      footer
        time(published="{{artwork.created_at}}")
        a(href="{{'http://'+artwork.User.mypage_id+'.#{process.env.HOST}'}}")
          | {{artwork.User.name}}
          img(ng-src="{{artwork.User.Storage.url}}" jaggy)

    section.shares
      h2 {{'SHERE'| translate}}
      nav
        a(href="#" ng-click="share('http://twitter.com/share',{text:'This is edge!!'})")
          | T
        a(href="#" ng-click="share('https://plus.google.com/share',{text:'This is edge!!'})")
          | G
        a(href="#" ng-click="share('http://b.hatena.ne.jp/add',{title:'This is edge!!', mode:'confirm'})")
          | H
        a(href="#" ng-click="share('https://getpocket.com/edit')")
          | P
    
    section.detail
      h2 {{'DETAIL'| translate}}
      dl
        dt
          img(ng-src="icons/image.gif" jaggy)
          | {{'DETAIL_IMAGE'| translate}}
        dd {{detail.image}}

        dt
          img(ng-src="icons/palette.gif" jaggy)
          | {{'DETAIL_PALETTE'| translate}}
        dd
          nav.palette
            label(ng-repeat="(rgba,color) in colors")
              input(
                ng-model="color.checked"
                ng-value="$index"
                type="checkbox"
                ng-change="focus(color)"
              )
              span(ng-style="color.style")
          | {{colors | keyLength }}

        dt
          img(ng-src="icons/view.gif" jaggy)
          | {{'DETAIL_VIEW'| translate}}
        dd {{detail.view | number:0}}

        dt
          img(ng-src="icons/comment.gif" jaggy)
          | {{'DETAIL_COMMET'| translate}}
        dd {{detail.comment}}

    section.comments
      h2
        | {{'COMMENT'| translate}}
      
      header
        .notify(ng-show="!user")
          a(href="#" ng-click="location('/mypage/auth/')")
            | {{'COMMENT_GUEST'| translate}}
        form(name="add" ng-show="user" ng-submit="comment(body)")
          button(
            ng-show="artwork.user_id != user.id"
            ng-disabled="add.$invalid"
          )
            | {{'COMMENT'| translate}}
          input(
            name="body"
            ng-model="body"
            ng-maxlength="{{fields.body._length}}"
            placeholder="{{'COMMENT_PLACEHOLDER'| translate}}"
            required
          )

          button(
            ng-show="artwork.user_id == user.id"
            ng-disabled="add.$invalid"
          )
            | {{'COMMENT'| translate}}

          footer(ng-show="add.$valid")
            | {{fields.body._length - body.length}} / {{fields.body._length}}

      ul(ng-reel="/front/comments/{{artwork.id}} as comments" ng-reel-stack)
        li(ng-repeat="comment in comments")
          include /lib/jade/comment